<?php

require_once('/var/ECP/config.gaf.php');
require_once(ECP_DIR.'/lib/Teller.php');
error_reporting(0);

if (!isset($_SESSION)) session_start();
if ( !isset($_SESSION['CurrentUser']) || ($_SESSION['CurrentUser']=='') ) {
	$this->_redirect("/error/relogin/type/$ajax");
}	
$CurrentUser=$_SESSION['CurrentUser'];
$path=$CurrentUser->getStorageBase().'wiki/'.$CurrentUser->eid;
if (!file_exists($path)) {
	require_once(GAF_DIR.'/lib/FileDirUtil.php');
	FileDirUtil::createDir($path);
	FileDirUtil::createDir($path.'/pages');
}

switch($_SERVER['WIKI_DOMAIN']) {
	case 'wiki':
		$conf['savedir']	=$path;
		$conf['template'] = 'ecp_wiki';
		$conf['useacl']   = 1;         
		$conf['authtype'] = 'ecp';          //which authentication backend should be used
		break;
	case 'wiki_help':
		$conf['savedir']	= ECP_DIR.'/wiki';
		$conf['template'] = 'ecp_odt';
		$conf['useacl']   = 1;         
		$conf['authtype'] = 'ecp_odt';      //which authentication backend should be used
		break;
}		
	
//$conf['superuser']   = 'admin';  
$conf['useacl']   = 1;         
$conf['authtype'] = 'ecp';          //which authentication backend should be used

$conf['lang']     = 'zh'; 
