<?php
/* 此配置文件要求配置nginx(或其他web-server)的变量：
   $_SERVER['ECP_INSTALL'],
   $_SERVER['WIKI_DOMAIN'],
   例如：
    location /extralib/ { alias   /opt/extralib/; }
    location /extralib/dokuhelp { alias   /opt/extralib/dokuwiki; }
    
    location ~ /extralib/dokuwiki/(.+)\.php$ {
          fastcgi_pass   127.0.0.1:9000;
          include fastcgi_params;
          fastcgi_param  WIKI_DOMAIN  wiki;
          fastcgi_param  ECP_INSTALL  /var/www/ECP;
          fastcgi_param  SCRIPT_FILENAME  /opt/extralib/dokuwiki/$1.php;
    }

    location ~ /extralib/dokuhelp/(.+)\.php$ {
           fastcgi_pass   127.0.0.1:9000;
           include fastcgi_params;
           fastcgi_param  WIKI_DOMAIN  wiki_help;
           fastcgi_param  ECP_INSTALL  /var/www/ECP;
           fastcgi_param  SCRIPT_FILENAME  /opt/extralib/dokuwiki/$1.php;
    }
 */
require_once($_SERVER['ECP_INSTALL'].'/config.gaf.php');
require_once(ECP_DIR.'/lib/Teller.php');
error_reporting(E_ALL);
error_reporting(0);

if (!isset($_SESSION)) session_start();
if ( !isset($_SESSION['CurrentUser']) || ($_SESSION['CurrentUser']=='') ) {
	$this->_redirect("/error/relogin/type/$ajax");
}	
$_SESSION['ecp']['idle']=0; /* reset IDEL timer*/
$CurrentUser=$_SESSION['CurrentUser'];
$AreaList=$_SESSION['wiki']['doku']['arealist'];

if (empty($AreaList)) {
	session_write_close();
	$url="http://{$_SERVER["HTTP_HOST"]}/wiki/api/get-area-list?sid=".session_id();
	$AreaList=json_decode(file_get_contents($url));
}

$path=$CurrentUser->getStorageBase().'wiki/';

switch($_SERVER['WIKI_DOMAIN']) {
	case 'wiki':
		$conf['savedir']	=$path;
		$conf['template'] = 'ecp_wiki';
		$conf['useacl']   = 1;         
		$conf['authtype'] = 'ecp';          //which authentication backend should be used
		break;
	case 'wiki_help':
		$conf['savedir']	= ECP_DIR.'/wiki';
		$conf['template'] = 'osPyramid';
		$conf['useacl']   = 1;         
		$conf['authtype'] = 'ecp_odt';      //which authentication backend should be used
		break;
}		
	
//$conf['superuser']   = 'admin';  
$conf['useacl']   = 1;         
$conf['authtype'] = 'ecp';          //which authentication backend should be used
$conf['lang']     = 'zh'; 
