<?php

require_once('/var/ECP/config.gaf.php');
require_once(ECP_DIR.'/lib/Teller.php');
error_reporting(0);

if (!isset($_SESSION)) session_start();
if ( !isset($_SESSION['CurrentUser']) || ($_SESSION['CurrentUser']=='') ) {
	$this->_redirect("/error/relogin/type/$ajax");
}	
$CurrentUser=$_SESSION['CurrentUser'];
$path=$CurrentUser->getStorageBase().'wiki/';

switch($_SERVER['WIKI_DOMAIN']) {
	case 'wiki':
		$conf['savedir']	=$path;
		$conf['template'] = 'ecp_wiki';
		$conf['useacl']   = 1;         
		$conf['authtype'] = 'ecp';          //which authentication backend should be used
		break;
	case 'wiki_help':
		$conf['savedir']	= ECP_DIR.'/wiki';
		$conf['template'] = 'osPyramid';
		$conf['useacl']   = 1;         
		$conf['authtype'] = 'ecp_odt';      //which authentication backend should be used
		break;
}		
	
//$conf['superuser']   = 'admin';  
$conf['useacl']   = 1;         
$conf['authtype'] = 'ecp';          //which authentication backend should be used
$conf['lang']     = 'zh'; 
